@{
    ViewBag.Title = "Confirm Email";
}
<div class="p-3 text-white">
    <h2 class="text-white">Confirmar Email</h2>
    <div>
        <p class="text-white">

            Gracias por confirmar tu correo electrónico. Por favor @Html.ActionLink("Haga clic aquí para ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>