@{
    ViewBag.Title = "Enlace de correo electrónico de propósito DEMO.";
}
    <div class="p-3 text-white">
        <h2>@ViewBag.Title.</h2>
        <p class="text-warning">
            Por favor revise su correo electrónico y confirme su dirección de correo electrónico.
        </p>
        <p class="text-white">
            Solo para DEMO: puede hacer clic en este enlace para confirmar el correo electrónico: <a href="@ViewBag.Link">link</a>
            @*Cambie este código para registrar un servicio de correo electrónico en IdentityConfig para enviar un correo electrónico.*@
        </p>
    </div>
