
@{
    ViewBag.Title = "FinalizaCompra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white text-center pt-4">Gracias por la compra!!!</h1>
@Html.ActionLink("Finalizar", "MisCompras", "venta", null, new { @class = "btn btn-outline-success" })

